.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.AcademicCard{
  width: 300px;
 height: 380px;
  position: relative;
  overflow: hidden;
}
.AcademicCard .visible-div{
  width: 100%;
  height: 100%;
  position: relative;
  
}
.AcademicCard .hiden-div{
  width: 100%;
  height: 100%;
  position: absolute;
  top:100%;
  transition: 0.3s;
}
.AcademicCard:hover .hiden-div{
  top:0%;
}